/*
    demo.css  -  Don Cross  -  stylesheet for Flywheel chess demo.
*/

body {
    width: 800px;
}

.RankFileText {
    font-family: monospace;
    font-size: 14px;
}

.ChessBoard {
    position: relative;
    left: 40px;
    top: 35px;
    width: 560px;
    height: 560px;
    background-color: beige;
    border:1px solid black;
}
