/*
    demo.css  -  Don Cross  -  stylesheet for Flywheel chess demo.
*/

body {
    width: 800px;
}

.RankFileText {
    font-family: monospace;
    font-size: 14px;
}

/* http://demosthenes.info/blog/598/boxshadow-property-vs-dropshadow-filter-a-complete-comparison */
/* http://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */
.ShadowFilter {
    -webkit-filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.3));
    filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.3));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='MyShadowFilter1'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='4' dy='4' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.3)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#MyShadowFilter1");
}

.ShadowFilterHover {
    -webkit-filter: drop-shadow(4px 4px 3px rgba(100,0,150,0.5));
    filter: drop-shadow(4px 4px 3px rgba(100,0,150,0.5));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='MyShadowFilter2'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='4' dy='4' result='offsetblur'/><feFlood flood-color='rgba(100,0,150,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#MyShadowFilter2");
}
